In [1]:
# import connector and create connection
import mysql.connector as connector

connection = connector.connect(user = "root", password = "", db="littlelemondb")


# create the cursor
cursor = connection.cursor()

In [2]:
# connect to the correct database
cursor.execute("use littlelemondb")

# check database in use
connection.database

'littlelemondb'

In [3]:
# query to get list of tables in db
show_tables_query = "show tables" 

# execute the query
cursor.execute(show_tables_query)

# fetching and printing results
results = cursor.fetchall()

for result in results:
    print(result)

('bookings',)
('customer',)
('delivery_status',)
('menu',)
('menuitems',)
('orders',)
('ordersview',)
('staff',)

In [4]:
# create query for greater than 60$ orders
gt_order_query = "select c.CustomerID, c.FullName, o.TotalCost, c.ContactNumber, c.Email from customer c join orders o on o.CustomerID = c.CustomerID where o.TotalCost > 60"

# execute query
cursor.execute(gt_order_query)

# fetch results of query and the column names
results = cursor.fetchall()

cols = cursor.column_names

# print column names with the results of the query
print(cols)

for result in results:
    print(result)

('CustomerID', 'FullName', 'TotalCost', 'ContactNumber', 'Email')
(3, 'Vanessa McCarthy', Decimal('150'), '550-553', 'Vanessa@email.com')
(5, 'Hiroki Yamane', Decimal('100'), '555-7776', 'Hiroki@email.com')
(4, 'Marcos Romero', Decimal('200'), '550-3344', 'Marcos@email.com')
(6, 'Diana Pinto', Decimal('175'), '555-0033', 'Diana@email.com')

In [5]:
cursor.close()
connection.close()